name: hello-world
on:
  # push: 
  #   paths:
  #     - '**.js'
  #   branches: [main]
  # workflow_dispatch:
  pull_request:
    type: [opened]
jobs:
  say-hello: 
    runs-on: ubuntu-latest
    steps:
      # - run: echo "TODAY=$(date +%y-%m-%d)" >> $GITHUB_ENV
      - run: echo Testing your code !!!